{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Our Recent Questionnaires</h4>
                            <h2>Choose What Do You Want To Start</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for questionnaire in questionnaire_list %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{% static 'images/blog-thumb-01.jpg' %}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <a href="{% url 'student_view' %}"><h4><span>{{ questionnaire.name }}</span></h4></a>
                                            <ul class="post-info">
                                                <li>{{ questionnaire.date }}</li>
                                            </ul>
                                            <p>{{ questionnaire.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-lg-12">
                                <ul class="page-numbers">
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}